@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #F5F1E6;
  --color-accent: #DFF6FF;
  --color-primary: #758695;
}

body {
  font-family: 'Source Serif 4', Georgia, serif;
  background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans 3', -apple-system, sans-serif;
}
